<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Quick Bots</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                      <li><a class="dropdown-item" href="#about">About</a></li>
                      <li v-if='loggedIn != true'><a class="dropdown-item" href="https://quickbots.herokuapp.com/login">Login/Sign Up</a></li>
                      <li><a class="dropdown-item" href="#pricing">Pricing</a></li>
                      <li v-if='loggedIn'><a class="dropdown-item" href="https://quickbots.herokuapp.com/profile">Profile</a></li>
                      <li v-if='loggedIn'><a class="dropdown-item" href="https://quickbots.herokuapp.com/setup">Bot Setup</a></li>
                      <li v-if='loggedIn'><a class="dropdown-item" href="https://quickbots.herokuapp.com/guide">Quick Guide</a></li>
                      <li v-if='loggedIn'><a class="dropdown-item" href="https://quickbots.herokuapp.com/settings">Settings</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <h2>Welcome</h2>
        <p>Hello and thank you for taking the time to visit the site. Below you will find details about who we are, why we exist, and what you can expect from us.</p>
        <div>
      <div id='about'>
        <h2>About</h2>
        <p>As I am sure you are aware, the current market for electronics has been driven to madness due to recent events. Anywhere from lack of any availbility to the only availble products are priced outrageously by those who are lucky enough to score them early. Our goal as a company is to help supply the people who aren't able to get their hands
          on products early without driving the prices higher. Many people are currently leaning on automated services to even get a chance at getting the products they want for a fair an reasonable price.
          The downside of many of these companies is they charge their fee before you get access to their software as well as without the guarentee of any results. So we look to change that. We offer a "Per Purchase" pay structure that always users to try our services without paying up front. This way if we fail to provide the product you are trying for you pay nothing.
          The way we do this is by charging a percent fee added after the purchase of your item.
        </p>
      </div>
      <div id="pricing">
        <h2>Pricing</h2>
      </div>
    </div>
    <script src="app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>