<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="">
        <title>News</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://unpkg.com/vue@3.0.2"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="app">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="https://gpubots.asuscomm.com/">Quick Bots</a>
                  <img v-if='loggedIn' class="navbar-brand" style="width: 50px; height: 50px;" v-bind:src=profilePicture>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                          <li><a class="dropdown-item" href="https://gpubots.asuscomm.com/#about">About</a></li>
                          <li v-if='loggedIn != true'><a class="dropdown-item" href="https://gpubots.asuscomm.com/login">Login/Sign Up</a></li>
                          <li><a class="dropdown-item" href="https://gpuforpeople.asuscomm.com/">Pricing</a></li>
                          <li v-if='loggedIn'><a class="dropdown-item" href="https://gpubots.asuscomm.com/profile">Profile</a></li>
                          <li v-if='loggedIn'><a class="dropdown-item" href="https://gpubots.asuscomm.com/setup">Bot Setup</a></li>
                          <li v-if='loggedIn'><a class="dropdown-item" href="https://gpubots.asuscomm.com/guide">Quick Guide</a></li>
                          <li v-if='loggedIn'><a class="dropdown-item" href="https://gpubots.asuscomm.com/settings">Settings</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
              <div>
                <button @click='getToken(token)'>Check Stock</button>

                <form>
                  <label for="number">Get updates to your phone on in stock items</label>
                  <input v-model='number' id='number' type="tel" placeholder="Phone Number">
                  <button @click='updates(number)'>Join</button>
                </form>
              </div>
              <div>
                <li v-for='res in response'>{{ res.card }} {{ res.price }} {{ res.available }}</li>
              </div>
        </div>
        
        <script src="app.js" async defer></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </body>
</html>
